<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>密码修改</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{$Think.ADMIN_CSS}/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{$Think.ADMIN_CSS}/new_nav.css"/>
		<link rel="stylesheet" type="text/css" href="{$Think.ADMIN_CSS}/index.css"/>
		<link rel="stylesheet" href="{$Think.ADMIN_CSS}/gonggao.css" />
		<link rel="stylesheet" type="text/css" href="{$Think.ADMIN_CSS}/geren.css"/>
	</head>
	<style>

		
		.right-div{
			background-image: url({$Think.ADMIN_IMG}/5.png);
			min-height: 500px;

		}

		
		
        
	</style>
	<body style="">

	<!--导航栏-->
	<include file="Public/nav" />


	<!--导航 结束/-->

	<!--公告栏-->
	<!--<div class="gonggao">-->
		<!--<marquee  onmouseover=this.stop() onmouseout=this.start() behavior="scroll" direction="left" class="gonggao_text">欢迎登录盛英汇管理系统</marquee>-->

	<!--</div>-->
		 
		 <!--内容区域-->
		 <div class="container main" style="padding-top: 10px">

			<!--内容区域-->
			<div class="content">
				
				<div class="row">
					<div class="col-xs-4">
						<span class="nichen-div">个人昵称: {$user['phone']}</span>
					</div>
					<if condition="$user['is_checked'] eq 2">
						<div class="col-xs-8">
							<span style="color: red;font-size: 24px;font-weight: bold">您当前个人信息不完整,请先完善个人信息!</span>
						</div>

					</if>

				</div>
				<div class="row">
					
					<!--左侧导航-->
					<div class="col-xs-3 col-sm-3">
						
	
						
						<ul class=" left-nav">
							<li><a href="geren.html"><img src="{$Think.ADMIN_IMG}/s1.png" width="100%"/></a></li>
							<li><a href="mimaxiugai.html"><img src="{$Think.ADMIN_IMG}/m1.png" width="100%"/></a></li>
							<li><a href="jiaoyimimaxiugai.html"><img src="{$Think.ADMIN_IMG}/j1.png" width="100%"/></a></li>
							<li><a href="kefulianxi.html"><img src="{$Think.ADMIN_IMG}/k1.png" width="100%"/></a></li>
							<li><img src="{$Think.ADMIN_IMG}/f1-h.png" width="100%"/></li>
						</ul>
						
						
					</div>
					
					<!--右侧内容显示-->
					<div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-5">
						
						<div class="right-div" style="padding-top: 50px">
							<p>1、Q：我该如何提现呢？</p>
							<p>A：提现需要先在网页右上角的设置内进行二级密码的设置。之后点击财务按钮，进入资产信息界面，点击提现按钮进行提现</p>

							<p>2、Q：我该如何充值？</p>
							<p>A：点击财务按钮，进入资产信息界面，点击充值按钮进行充值。</p>

							<p>3、Q：我订单提交了找不到记录，怎么办?</p>
							<p>A：您可以刷新后再记录里查找，若没有记录可以选择再次提交，或者联系客服。</p> 
							<p>4、Q：如果商城内的商品缺货，我又想兑换怎么办？</p>
							<p>A：1. 热门商品可能短暂缺货，您可以点击客服按钮，留下您的联系方式及想要的商品，有货后我们将通知您。</p>

							<p>5、Q：我在拍卖行购买的物品为什么在游戏中没有出现?</p>
							<p>A: 1. 如果遇交易量较大的时，可能会出现延迟的情况。请耐心等待并留意游戏内的系统邮件</p>

							
						</div>


					</div>
											
					
				</div>
							
			</div>
			
		 
		 </div>
				
	
				
	


		
	</body>
	<script type="text/javascript" src="{$Think.ADMIN_JS}/jquery-3.1.0.js" ></script>
	<script type="text/javascript" src="{$Think.ADMIN_JS}/bootstrap.min.js" ></script>
	<script type="text/javascript" src="{$Think.ADMIN_JS}/geren.js" ></script>
	<script type="text/javascript" src="{$Think.ADMIN_JS}/logout.js" ></script>
	
	<script type="text/javascript">
		
		
//		获取验证码
		function get_phoneCode() {
            var phone = $("#phone").val();
            var btn = $('.phone-code')

            if (btn.attr("disabled")){
                alert("验证码已发送,请勿重复提交");
                return false;
            }

            btn.attr('disabled',"disabled");
			$.post(

				"get_phoneCode.html",
				{
					phone : phone
				},
				function (data) {
					if (data.status == 1){
						console.log(data.msg);
                        run();
					}else {
						console.log(data.msg);
						alert(data.msg);
                        btn.attr('disabled',false);
					}
				}
				,'json'

			)


        }

//		验证码框倒计时按钮
        function run(){
            var btn = $('.phone-code')
//            alert("验证码已发送");
            var time = 10;//定义时间变量。用于倒计时用
            var timer = null;//定义一个定时器；
            timer = setInterval(function(){
                ///开启定时器。函数内执行

                btn.attr('disabled',"disabled");
				btn.text(" 已发送 "+ time)
                time--;//时间值自减
                if(time ==0){
					btn.text('重新发送验证码');
                    btn.attr('disabled',false);
                    clearInterval(timer); //清除定时器

                }
            },1000)
        }


       $(function () {
// 		修改提交
            $("#modiy_btn").click(function () {
                var phone = $("#phone").val();
                var code = $("#code").val();
                var real_card = $("#real_card").val();
                var password = $("#password").val();
                var repassword = $("#repassword").val();

                if (phone.length == 0){
                    alert("手机号码不为空!");
                    return;
                }
                if (code.length == 0){
                    alert("验证码不为空!");
                    return;
                }
                if (real_card.length == 0){
                    alert("身份证号码不为空!");
                    return;
                }
                if (password.length == 0){
                    alert("请输入修改密码!");
                    return;
                }
                if (password.length == 0){
                    alert("请输入确认密码!");
                    return;
                }
                if (password != repassword){
                    alert("密码不一致,请重新输入!");
                    return;
                }

                $.post(
//                    "{:U('Index/mimaxiugai')}",
                    "jiaoyimimaxiugai.html",
                    {
                        phone : phone,
                        code: code,
                        real_card : real_card,
                        password : password,
                        repassword : repassword
                    },
                    function (data) {

                        if (data.status == 1){
                            alert(data.msg);
                            window.location.href = "index.html";

                        }else {
                            alert(data.msg);
                        }
                    }
                    ,'json'
                )

            })
        })
		

		
		
	</script>
	
</html>
