<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>推荐信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{$Think.ADMIN_CSS}/bootstrap.min.css" />
    <link rel="stylesheet" href="{$Think.ADMIN_CSS}/main.css" />
    <script src="{$Think.ADMIN_JS}/jquery.min.js"></script>
</head>

<body>
<div class="bg_box">
    <div  class="hd_box_wrap">
        <div class="hd_box">
            <div class="hd-left">
                <a class="logo-a"><img src="{$Think.ADMIN_IMG}/new/logo.png"></a>
                <img src="{$Think.ADMIN_IMG}/new/zuan.png">
                <a class="color_fff">首页-</a>
                <a>推荐列表</a>
                <img src="{$Think.ADMIN_IMG}/new/sanjiaoxing.png">
            </div>
            <div class="hd-right">
                <a class="color_fff">ID：13860167002</a>
                <a class="set"><img src="{$Think.ADMIN_IMG}/new/set.png"></a>
                <a class="color_fff">[退出]</a>
            </div>
        </div>

    </div>
    <div class="mian-title">
        <!--<a class="color_fff">首页</a>-报单记录-->
        <marquee  onmouseover=this.stop() onmouseout=this.start() behavior="scroll" direction="left" class="gonggao_text">欢迎登录盛英汇管理系统</marquee>

    </div>
    <div class="asset-main">
        <div class="asset-main-hd">
            <div class="asset-main-hd-tap active">一级推荐</div>
            <div class="asset-main-hd-tap ">二级推荐</div>
            <div class="asset-main-hd-rgiht">所有推荐总奖励：30000</div>
        </div>
        <div class="asset-main-bd">
            <div class="tab_content  hide active">
                <div class="tab_content1-top2">
                    <table class="customers1">
                        <tr>
                            <th>一级推荐总人数：{$user_1_arr[0]}</th>
                            <th>有效人数：{$user_1_arr[1]}</th>
                            <th>金银铜总产量：50000/60000/80000</th>
                            <th>奖励：20000</th>
                        </tr>
                    </table>
                    <table class="customers">
                        <tr>
                            <th>
                                <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">序号</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th>
                              <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">姓名</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th>
                                <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">级别</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th>
                                <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">状态</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th> <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">身份</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span></th>


                            <th>金银铜产出</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="page-box">
                        <a class="page-list"><img src="{$Think.ADMIN_IMG}/new/page-pre1.png"></a>
                        <a class="page-list"><img src="{$Think.ADMIN_IMG}/new/page-pre2.png"></a>
                        <a class="page-list">1</a>
                        <a class="page-list">2</a>
                        <a class="page-list">3</a>
                        <a class="page-list">4</a>
                        <a class="page-list">5</a>
                        <a class="page-list">...</a>
                        <a class="page-list reverse"><img src="{$Think.ADMIN_IMG}/new/page-pre1.png"></a>
                        <a class="page-list reverse margin-right-20"><img src="{$Think.ADMIN_IMG}/new/page-pre2.png"></a>
                        <div>
                            第 <input type="text" value="1"> 页共199页
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab_content  hide">
                <div class="tab_content1-top2">
                    <table class="customers1">
                        <tr>
                            <th>二级推荐总人数：{$user_2_arr[0]}</th>
                            <th>有效人数：{$user_2_arr[1]}</th>
                            <th>金银铜总产量：50000/60000/80000</th>
                            <th>奖励：20000</th>
                        </tr>
                    </table>
                    <table class="customers">
                        <tr>
                            <th>
                                <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">序号</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th>
                              <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">姓名</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th>
                                <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">级别</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th>
                                <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">状态</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>
                            <th> <span class="select-wrap">
                                <select class="select">
                                    <option value ="volvo">身份</option>
                                    <option value ="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                 </span>
                            </th>


                            <th>金银铜产出</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="alt">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="page-box">
                        <a class="page-list"><img src="{$Think.ADMIN_IMG}/new/page-pre1.png"></a>
                        <a class="page-list"><img src="{$Think.ADMIN_IMG}/new/page-pre2.png"></a>
                        <a class="page-list">1</a>
                        <a class="page-list">2</a>
                        <a class="page-list">3</a>
                        <a class="page-list">4</a>
                        <a class="page-list">5</a>
                        <a class="page-list">...</a>
                        <a class="page-list reverse"><img src="{$Think.ADMIN_IMG}/new/page-pre1.png"></a>
                        <a class="page-list reverse margin-right-20"><img src="{$Think.ADMIN_IMG}/new/page-pre2.png"></a>
                        <div>
                            第 <input type="text" value="1"> 页共199页
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('.asset-main-hd-tap').on('click',function(){
        $('.asset-main-hd-tap').removeClass("active")
        $(this).addClass("active")
        const active_index=$(this).index()
        $(".tab_content").removeClass("active")
        $(".asset-main-bd").find(".tab_content").eq(active_index).addClass("active")
    })
</script>
</body>
</html>
