<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理系统</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="<?php echo __HOME__IMG__;?>favicon.png">
  <link rel="apple-touch-icon-precomposed" href="<?php echo __HOME__IMG__;?>app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="<?php echo __HOME__CSS__;?>amazeui.min.css"/>
  <link rel="stylesheet" href="<?php echo __HOME__CSS__;?>admin.css">
</head>
<body>


<include file="common/index_top" />
<div class="am-cf admin-main">

  <include file="common/index_left" />

<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small class="am-text-primary am-text-lg">相关数据统计</small></div>
  </div>

  <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
    <li><a href="{:U('user_manager')}" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>总用户数<br/>{$totle_user|default=0}</a></li>
    <li><a href="{:U('charge_manager')}" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>订单数<br/>{$totle_order|default=0}</a></li>
    <li><a href="{:U('charge_manager')}" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>充值总额<br/>{$totle_charge|default=0}</a></li>
    <li><a href="" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>提现总额<br/>{$totle_getCash|default=0}</a></li>
  </ul>
</div>
</div>


<script src="<?php echo __HOME__JS__;?>jquery1.11.1.min.js"></script>
<script src="<?php echo __HOME__JS__;?>modernizr.js"></script>
<script src="<?php echo __HOME__JS__;?>polyfill/rem.min.js"></script>
<script src="<?php echo __HOME__JS__;?>polyfill/respond.min.js"></script>
<script src="<?php echo __HOME__JS__;?>amazeui.legacy.js"></script>
<script src="<?php echo __HOME__JS__;?>jquery.min.js"></script>
<script src="<?php echo __HOME__JS__;?>amazeui.min.js"></script>

<script src="<?php echo __HOME__JS__;?>app.js"></script>
</body>
</html>
